$fonte-destaque: 'Advent Pro', sans-serif;
$fonte-geral: 'Cormorant Infant', serif;
$cor-botao-destaque-rosaclaro: #F2AEB4;
$cor-rosa-escuro:#BF7E84;
$cor-texto-padrao: #000;
$cor-texto-formulario:#FFF;
$cor-verde-forte: #92A68D;
$cor-verde-claro: #A2BF95;
$cor-destaque-nav: #736317;
$cor-detalhes: #402A01;