@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500&display=swap');
@import "./variavel";

*{
    margin:0;
    padding: 0;
}

/* Desktop */
@media screen and (min-width:1024px){
    /* Navbar e header */
    .header{
        height: 190px;
        font-family: $fonte-destaque;
        background-image: linear-gradient(to right, $cor-verde-forte, $cor-verde-claro);
        margin-bottom:10px;
        .container-nav{
            #logo{
                margin-left:10px;
            }
            .nav-items{
                display: flex;
                margin-left:200px;
                justify-content: space-evenly;
                .item-nav{
                    margin-bottom:100px;
                    color:$cor-destaque-nav;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 23px;
                }
                .item-nav:hover{
                    color:$cor-detalhes;
                }
                #cadastroLogin{
                    padding:5px;
                    border:1px solid $cor-destaque-nav;
                    margin-bottom:130px;
                    width: 200px;
                    height: 50px;
                    border-radius: 10px;
                    img{
                        width: 40px;
                        padding-bottom:4px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    /* Footer e navbar */
    .footer{
        margin-top:20px;
        height: 290px;
        font-family: $fonte-destaque;
        align-items: center;
        text-align: center;
        justify-items: center;
        z-index: 0;
        background-image: linear-gradient(to right, $cor-verde-forte, $cor-verde-claro);
        .container-footer{
            padding-top:10px;
            .nav-items{
                display: flex;
                justify-content: space-evenly;
                .item-nav{
                    margin-bottom:20px;
                    color:$cor-destaque-nav;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 23px;
                }
                .item-nav:hover{
                    color:$cor-detalhes;
                }
            }
            
            .areaUsuarios{
                align-items: center;
                text-align: center;
                h4{
                    font-size: 24px;
                    font-weight: bolder;
                    text-align: center;
                }
                .cadastroLogin{
                    padding:5px;
                    border:1px solid $cor-destaque-nav;
                    margin-bottom:10px;
                    width: 200px;
                    height: 50px;
                    border-radius: 10px;
                    img{
                        width: 40px;
                        padding-bottom:4px;
                        padding-right: 5px;
                    }
                }
            }
            hr{
                border-top: 2px solid black;
            }
            p{
                text-align: center;
                align-items: center;
                font-size: 20px;
                justify-items: center;
                font-weight: bolder;
            }
            #logoPulsetech{
                width: 200px;
                padding-bottom: 10px;
            }
        }
    }

    /* Página projeto */
    .conteudoProjeto{
        font-family: $fonte-geral;
        font-weight: 500;
        .inicioProjeto{
            text-align: center;
            .texto{
                display: flex;
                justify-content: center;
                .rosa{
                    color:$cor-rosa-escuro;
                    padding-right:15px;
                }
                .verde{
                    color:$cor-destaque-nav;
                    padding-right:15px;
                }
            }
            img{
                width: 50%;
                margin-bottom:10px;
            }
        }

        .textoInicialProjeto{
            padding-top: 20px;
            padding-bottom: 40px;
            display: flex;
            width: 80%;
            img{
                width: 40%;
            }
            p{
                font-size: 30px;
                text-align: justify;
                padding-left:10px;
            }
        }

        .personas{
            color:$cor-texto-padrao;
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            h1{
                text-align: center;
            }
            .persona{
                padding-top:10px;
                padding-bottom:10px;
                display: flex;
                width: 90%;
                img{
                    width: 32%;
                }
                .textoPersona{
                    padding-left: 10px;
                    padding-right: 20px;
                    padding-top:10px;
                    text-align: justify;
                    h2{
                        font-size: 35px;
                        font-weight: bold;
                    }
                    p{
                        font-weight: 500;
                        font-size: 26px;
                    }

                    .botaoContato{
                        border:none;
                        border-radius: 10px;
                        width: 170px;
                        background-color: $cor-destaque-nav;
                    }
                    .botaoContato:hover{
                        background-color: $cor-verde-claro;
                    }
                }
            }
        }

        .integracoes{
            padding-top:30px;
            padding-bottom:30px;
            color:$cor-texto-padrao;
            h1{
                text-align: center;
            }

            .integracao{
                padding-top:10px;
                padding-bottom:10px;
                display: flex;
                width: 90%;
            }
            img{
                width: 32%;
            }
            .textoIntegracao{
                padding-left: 20px;
                padding-right: 20px;
                padding-top:10px;
                text-align: justify;
                h2{
                    font-size: 35px;
                    font-weight: bold;
                }
                p{
                    font-weight: 500;
                    font-size: 26px;
                }
            }
        }

        .diferencial{
            width: 100%;
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            text-align: center;
            padding-bottom:10px;
        }

        .empresaDesenvolvedora{
            padding-top:20px;
            padding-bottom:10px;
            width: 50%;
            h1{
                padding-bottom:10px;
                color:$cor-destaque-nav;
            }
            p{
                padding-top:15px;
                color:$cor-texto-padrao;
                font-size: 25px;
                text-align: justify;
            }
        }
    }

    /* Conteúdo dúvidas frequentes */
    .conteudoDuvidas{
        font-family: $fonte-geral;
        padding-top:10px;
        padding-bottom: 10px;
        h1{
            font-size: 50px;
            text-align: center;
        }

        p{
            font-size: 24px;
            text-align: center;
        }

        .duvidasFrequentes{
            border-bottom: 1px solid #ccc;
            padding: 10px;
            width: 60%;
        }

        .duvidasFrequentes input,
        .duvidasFrequentes .resposta{
            display: none;
            text-align: center;
        }

        label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 5px;
            width: 100%;
            font-family: $fonte-geral;
            text-align: center;
            font-size: 20px;
        }

        input{
            height: 30px;
        }

        .duvidasFrequentes input:checked~.resposta {
            display: block;
        }

        .botaoContato{
            padding-top:30px;
            padding-bottom: 30px;
            img{
                padding-top:30px;
            }
        }
    }

    /* Conteúdo contato */
    .conteudoContato{
        position: relative;
        .imagemFundo {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./src/assets/imagemFundoForms.png') no-repeat center;
            background-size: cover;
            z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo principal */
          }

        .formulario{
            position: relative;
            z-index: 1;
            padding: 10px;
            margin-top: 60px;
            font-family: $fonte-geral;
            color: $cor-texto-formulario;
            border-radius: 10px;
            background-color: $cor-rosa-escuro;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            h3{
                font-size: 40px;
            }

            p{
                font-size: 20px;
                font-style: italic;
            }
            label{
                font-size: 25px;
            }
            input, select{
                border: none;
                margin-bottom:15px;
                font-size: 20px;
            }
            .inputInformacoes, select{
                padding-left: 10px;
                width: 300px;
                height: 40px;
            }
            .inputMensagem{
                padding-left: 10px;
                width: 400px;
                height: 200px;
            }
            .inputBotao{
                font-size: 25px;
                background-color: $cor-destaque-nav;
                text-align: center;
                border-radius: 10px;
                color:$cor-texto-padrao;
                height: 40px;
                width: 150px;
            }
            .inputBotao:hover{
                background-color: $cor-verde-claro;
            }
        }
    }

    /* Conteúdo home */
    .conteudoHome{
        font-family: $fonte-geral;
        .textoInicialHome{
            margin-top:50px;
            margin-bottom:20px;
            display: flex;
            width: 80%;
            img{
                width: 50%
            }
            .textoInicial{
                p{
                    padding-left: 15px;
                    font-size:25px;
                    text-align: justify;
                }
                .botaoSaibaMais{
                    border: none;
                    font-size: 30px;
                    border-radius: 10px;
                    width: 160px;
                    background-color: $cor-botao-destaque-rosaclaro;
                }
                .botaoSaibaMais:hover{
                    background-color: $cor-rosa-escuro;
                }
            }
        }

        .parcerias{
            margin-top:30px;
            margin-bottom: 30px;
            h1{
                font-size: 50px;
                text-align: center;
                color: $cor-destaque-nav;
                font-weight: bold;
            }

            p{
                padding-top:10px;
                text-align: center;
                font-size:30px;
                font-style: italic;
            }
            p a{
                color:$cor-botao-destaque-rosaclaro;
            }
            p a:hover{
                color:$cor-rosa-escuro;
            }
            .imagesParcerias{
                text-align: center;
                img{
                    width: 40%;
                    padding-top:30px;
                    padding-right: 30px;
                }
            }
        }
       
        .resenhas{
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            text-align: center;
            padding-bottom:10px;
            padding-top:20px;
        }

        .diferenciaisHome{
            text-align: center;
            padding-top:30px;
            padding-bottom: 30px;
            h1{
                font-size: 50px;
                color: $cor-texto-padrao;
                padding-bottom: 10px;
            }

            h4{
                font-size: 30px;
                font-style: italic;
            }
            .botaoDuvidas{
                margin-top:10px;
                border: none;
                border-radius: 10px;
                background-color: $cor-botao-destaque-rosaclaro;
                font-size: 30px;
                width: 400px;
            }
            .botaoDuvidas:hover{
                background-color: $cor-rosa-escuro;
            }
            .diferenciais{
                display: flex;
                text-align: center;
                .diferencial{
                    padding: 10px;
                    img{
                        margin-bottom:10px;
                        width: 50%;
                    }
                    h3{
                        font-size: 30px;
                    }
                    p{
                        font-size: 20px;
                        text-align: center;
                    }
                }
            }
        }
    } 
}

/* Tablet */
@media screen and (min-width:900px) and (max-width:1023px){
    /* Navbar e header */
    .header{
        height: 190px;
        font-family: $fonte-destaque;
        background-image: linear-gradient(to right, $cor-verde-forte, $cor-verde-claro);
        margin-bottom:10px;
        .container-nav{
            #logo{
                margin-left:10px;
            }
            .nav-items{
                display: flex;
                margin-left:200px;
                justify-content: space-evenly;
                .item-nav{
                    margin-bottom:100px;
                    color:$cor-destaque-nav;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 23px;
                }
                .item-nav:hover{
                    color:$cor-detalhes;
                }
                #cadastroLogin{
                    padding:5px;
                    border:1px solid $cor-destaque-nav;
                    margin-bottom:130px;
                    width: 200px;
                    height: 50px;
                    border-radius: 10px;
                    img{
                        width: 40px;
                        padding-bottom:4px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    /* Footer e navbar */
    .footer{
        margin-top:20px;
        height: 290px;
        font-family: $fonte-destaque;
        align-items: center;
        text-align: center;
        justify-items: center;
        z-index: 0;
        background-image: linear-gradient(to right, $cor-verde-forte, $cor-verde-claro);
        .container-footer{
            padding-top:10px;
            .nav-items{
                display: flex;
                justify-content: space-evenly;
                .item-nav{
                    margin-bottom:20px;
                    color:$cor-destaque-nav;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 23px;
                }
                .item-nav:hover{
                    color:$cor-detalhes;
                }
            }
            
            .areaUsuarios{
                align-items: center;
                text-align: center;
                h4{
                    font-size: 24px;
                    font-weight: bolder;
                    text-align: center;
                }
                .cadastroLogin{
                    padding:5px;
                    border:1px solid $cor-destaque-nav;
                    margin-bottom:10px;
                    width: 200px;
                    height: 50px;
                    border-radius: 10px;
                    img{
                        width: 40px;
                        padding-bottom:4px;
                        padding-right: 5px;
                    }
                }
            }
            hr{
                border-top: 2px solid black;
            }
            p{
                text-align: center;
                align-items: center;
                font-size: 20px;
                justify-items: center;
                font-weight: bolder;
            }
            #logoPulsetech{
                width: 200px;
                padding-bottom: 10px;
            }
        }
    }

    /* Página projeto */
    .conteudoProjeto{
        font-family: $fonte-geral;
        font-weight: 500;
        .inicioProjeto{
            text-align: center;
            .texto{
                display: flex;
                justify-content: center;
                .rosa{
                    color:$cor-rosa-escuro;
                    padding-right:15px;
                }
                .verde{
                    color:$cor-destaque-nav;
                    padding-right:15px;
                }
            }
            img{
                width: 50%;
                margin-bottom:10px;
            }
        }

        .textoInicialProjeto{
            padding-top: 20px;
            padding-bottom: 40px;
            display: flex;
            width: 90%;
            img{
                width: 25%;
            }
            p{
                font-size: 22px;
                text-align: justify;
                padding-left:10px;
            }
        }

        .personas{
            color:$cor-texto-padrao;
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            h1{
                text-align: center;
            }
            .persona{
                padding-top:10px;
                padding-bottom:10px;
                display: flex;
                width: 90%;
                img{
                    width: 32%;
                }
                .textoPersona{
                    padding-left: 10px;
                    padding-right: 20px;
                    padding-top:10px;
                    text-align: justify;
                    h2{
                        font-size: 30px;
                        font-weight: bold;
                    }
                    p{
                        font-weight: 500;
                        font-size: 20px;
                    }

                    .botaoContato{
                        border:none;
                        border-radius: 10px;
                        width: 170px;
                        background-color: $cor-destaque-nav;
                    }
                    .botaoContato:hover{
                        background-color: $cor-verde-claro;
                    }
                }
            }
        }

        .integracoes{
            padding-top:30px;
            padding-bottom:30px;
            color:$cor-texto-padrao;
            h1{
                text-align: center;
            }

            .integracao{
                padding-top:10px;
                padding-bottom:10px;
                display: flex;
                width: 90%;
            }
            img{
                width: 32%;
            }
            .textoIntegracao{
                padding-left: 20px;
                padding-right: 20px;
                padding-top:10px;
                text-align: justify;
                h2{
                    font-size: 25px;
                    font-weight: bold;
                }
                p{
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }

        .diferencial{
            width: 100%;
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            text-align: center;
            padding-bottom:10px;
        }

        .empresaDesenvolvedora{
            padding-top:20px;
            padding-bottom:10px;
            width: 50%;
            h1{
                padding-bottom:10px;
                color:$cor-destaque-nav;
            }
            p{
                padding-top:15px;
                color:$cor-texto-padrao;
                font-size: 25px;
                text-align: justify;
            }
        }
    }

    /* Conteúdo dúvidas frequentes */
    .conteudoDuvidas{
        font-family: $fonte-geral;
        padding-top:10px;
        padding-bottom: 10px;
        h1{
            font-size: 40px;
            text-align: center;
        }

        p{
            font-size: 20px;
            text-align: center;
        }

        .duvidasFrequentes{
            border-bottom: 1px solid #ccc;
            padding: 10px;
            width: 60%;
        }

        .duvidasFrequentes input,
        .duvidasFrequentes .resposta{
            display: none;
            text-align: center;
        }

        label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 5px;
            width: 100%;
            font-family: $fonte-geral;
            text-align: center;
            font-size: 20px;
        }

        input{
            height: 30px;
        }

        .duvidasFrequentes input:checked~.resposta {
            display: block;
        }

        .botaoContato{
            padding-top:30px;
            padding-bottom: 30px;
            img{
                padding-top:30px;
            }
        }
    }

    /* Conteúdo contato */
    .conteudoContato{
        position: relative;
        .imagemFundo {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('./src/assets/imagemFundoForms.png') no-repeat center;
            background-size: cover;
            z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo principal */
          }

        .formulario{
            position: relative;
            z-index: 1;
            padding: 10px;
            margin-top: 60px;
            font-family: $fonte-geral;
            color: $cor-texto-formulario;
            border-radius: 10px;
            background-color: $cor-rosa-escuro;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            h3{
                font-size: 40px;
            }

            p{
                font-size: 20px;
                font-style: italic;
            }
            label{
                font-size: 25px;
            }
            input, select{
                border: none;
                margin-bottom:15px;
                font-size: 20px;
            }
            .inputInformacoes, select{
                padding-left: 10px;
                width: 300px;
                height: 40px;
            }
            .inputMensagem{
                padding-left: 10px;
                width: 400px;
                height: 200px;
            }
            .inputBotao{
                font-size: 25px;
                background-color: $cor-destaque-nav;
                text-align: center;
                border-radius: 10px;
                color:$cor-texto-padrao;
                height: 40px;
                width: 150px;
            }
            .inputBotao:hover{
                background-color: $cor-verde-claro;
            }
        }
    }

    /* Conteúdo home */
    .conteudoHome{
        font-family: $fonte-geral;
        .textoInicialHome{
            margin-top:50px;
            margin-bottom:20px;
            display: flex;
            width: 80%;
            img{
                width: 50%
            }
            .textoInicial{
                p{
                    padding-left: 15px;
                    font-size:20px;
                    text-align: justify;
                }
                .botaoSaibaMais{
                    border: none;
                    font-size: 30px;
                    border-radius: 10px;
                    width: 160px;
                    background-color: $cor-botao-destaque-rosaclaro;
                }
                .botaoSaibaMais:hover{
                    background-color: $cor-rosa-escuro;
                }
            }
        }

        .parcerias{
            margin-top:30px;
            margin-bottom: 30px;
            h1{
                font-size: 40px;
                text-align: center;
                color: $cor-destaque-nav;
                font-weight: bold;
            }

            p{
                padding-top:10px;
                text-align: center;
                font-size:30px;
                font-style: italic;
            }
            p a{
                color:$cor-botao-destaque-rosaclaro;
            }
            p a:hover{
                color:$cor-rosa-escuro;
            }
            .imagesParcerias{
                text-align: center;
                img{
                    width: 40%;
                    padding-top:30px;
                    padding-right: 30px;
                }
            }
        }
       
        .resenhas{
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            text-align: center;
            padding-bottom:10px;
            padding-top:20px;
        }

        .diferenciaisHome{
            text-align: center;
            padding-top:30px;
            padding-bottom: 30px;
            h1{
                font-size: 50px;
                color: $cor-texto-padrao;
                padding-bottom: 10px;
            }

            h4{
                font-size: 30px;
                font-style: italic;
            }
            .botaoDuvidas{
                margin-top:10px;
                border: none;
                border-radius: 10px;
                background-color: $cor-botao-destaque-rosaclaro;
                font-size: 30px;
                width: 400px;
            }
            .botaoDuvidas:hover{
                background-color: $cor-rosa-escuro;
            }
            .diferenciais{
                display: flex;
                text-align: center;
                .diferencial{
                    padding: 10px;
                    img{
                        margin-bottom:10px;
                        width: 50%;
                    }
                    h3{
                        font-size: 30px;
                    }
                    p{
                        font-size: 20px;
                        text-align: center;
                    }
                }
            }
        }
    } 
}

/* Celular */
@media screen and (max-width:500px){
    /* Navbar e header */
    .header{
        height: 120px;
        font-family: $fonte-destaque;
        background-image: linear-gradient(to right, $cor-verde-forte, $cor-verde-claro);
        margin-bottom:10px;
        .container-nav{
            #logo{
                margin-left:150px;
                width: 30%;
                
            }
            .nav-items{
                display: flex;
                margin-left:10px;
                justify-content: space-evenly;
                .item-nav{
                    margin-bottom:100px;
                    margin-right: 10px;
                    color:$cor-destaque-nav;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 18px;
                }
                .item-nav:hover{
                    color:$cor-detalhes;
                }
                #cadastroLogin{
                    padding:5px;
                    border:1px solid $cor-destaque-nav;
                    margin-bottom:130px;
                    width: 150px;
                    height: 40px;
                    border-radius: 10px;
                    img{
                        width: 30px;
                        padding-bottom:4px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    /* Footer e navbar */
    .footer{
        margin-top:20px;
        height: 290px;
        font-family: $fonte-destaque;
        align-items: center;
        text-align: center;
        justify-items: center;
        z-index: 0;
        background-image: linear-gradient(to right, $cor-verde-forte, $cor-verde-claro);
        .container-footer{
            padding-top:10px;
            .nav-items{
                display: flex;
                justify-content: space-evenly;
                .item-nav{
                    margin-bottom:20px;
                    color:$cor-destaque-nav;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 23px;
                }
                .item-nav:hover{
                    color:$cor-detalhes;
                }
            }
            
            .areaUsuarios{
                align-items: center;
                text-align: center;
                h4{
                    font-size: 24px;
                    font-weight: bolder;
                    text-align: center;
                }
                .cadastroLogin{
                    padding:5px;
                    border:1px solid $cor-destaque-nav;
                    margin-bottom:10px;
                    width: 200px;
                    height: 50px;
                    border-radius: 10px;
                    img{
                        width: 40px;
                        padding-bottom:4px;
                        padding-right: 5px;
                    }
                }
            }
            hr{
                border-top: 2px solid black;
            }
            p{
                text-align: center;
                align-items: center;
                font-size: 20px;
                justify-items: center;
                font-weight: bolder;
            }
            #logoPulsetech{
                width: 200px;
                padding-bottom: 10px;
            }
        }
    }

    /* Página projeto */
    .conteudoProjeto{
        font-family: $fonte-geral;
        font-weight: 500;
        .inicioProjeto{
            text-align: center;
            .texto{
                display: flex;
                justify-content: center;
                .rosa{
                    color:$cor-rosa-escuro;
                    padding-right:15px;
                }
                .verde{
                    color:$cor-destaque-nav;
                    padding-right:15px;
                }
            }
            img{
                width: 50%;
                margin-bottom:10px;
            }
        }

        .textoInicialProjeto{
            padding-top: 20px;
            padding-bottom: 40px;
            display: flex;
            width: 90%;
            img{
                width: 35%;
            }
            p{
                font-size: 15px;
                text-align: justify;
                padding-left:10px;
            }
        }

        .personas{
            color:$cor-texto-padrao;
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            h1{
                text-align: center;
            }
            .persona{
                padding-top:10px;
                padding-bottom:10px;
                display: flex;
                width: 90%;
                img{
                    width: 40%;
                }
                .textoPersona{
                    padding-left: 10px;
                    padding-right: 20px;
                    padding-top:10px;
                    text-align: justify;
                    h2{
                        font-size: 18px;
                        font-weight: bold;
                    }
                    p{
                        font-weight: 500;
                        font-size: 12px;
                    }

                    .botaoContato{
                        border:none;
                        border-radius: 10px;
                        width: 90px;
                        background-color: $cor-destaque-nav;
                    }
                    .botaoContato:hover{
                        background-color: $cor-verde-claro;
                    }
                }
            }
        }

        .integracoes{
            padding-top:30px;
            padding-bottom:30px;
            color:$cor-texto-padrao;
            h1{
                text-align: center;
            }

            .integracao{
                padding-top:10px;
                padding-bottom:10px;
                display: flex;
                width: 90%;
            }
            img{
                width: 50%;
            }
            .textoIntegracao{
                padding-left: 20px;
                padding-right: 20px;
                padding-top:10px;
                text-align: justify;
                h2{
                    font-size: 15px;
                    font-weight: bold;
                }
                p{
                    font-weight: 500;
                    font-size: 13px;
                }
            }
        }

        .diferencial{
            width: 100%;
            background-image: linear-gradient(to right, $cor-rosa-escuro, $cor-botao-destaque-rosaclaro);
            text-align: center;
            padding-bottom:10px;
        }

        .empresaDesenvolvedora{
            padding-top:20px;
            padding-bottom:10px;
            width: 50%;
            h1{
                padding-bottom:10px;
                color:$cor-destaque-nav;
            }
            p{
                padding-top:15px;
                color:$cor-texto-padrao;
                font-size: 20px;
                text-align: justify;
            }
        }
    }

    /* Conteúdo dúvidas frequentes */
    .conteudoDuvidas{
        font-family: $fonte-geral;
        padding-top:10px;
        padding-bottom: 10px;
        h1{
            font-size: 30px;
            text-align: center;
        }

        p{
            font-size: 15px;
            text-align: center;
        }

        .duvidasFrequentes{
            border-bottom: 1px solid #ccc;
            padding: 10px;
            width: 60%;
        }

        .duvidasFrequentes input,
        .duvidasFrequentes .resposta{
            display: none;
            text-align: center;
        }

        label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 5px;
            width: 100%;
            font-family: $fonte-geral;
            text-align: center;
            font-size: 15px;
        }

        input{
            height: 30px;
        }

        .duvidasFrequentes input:checked~.resposta {
            display: block;
        }

        .botaoContato{
            padding-top:30px;
            padding-bottom: 30px;
            img{
                padding-top:30px;
            }
        }
    }

        /* Conteúdo contato */
        .conteudoContato{
            position: relative;
            .imagemFundo {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('./src/assets/imagemFundoForms.png') no-repeat center;
                background-size: cover;
                z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo principal */
              }
    
            .formulario{
                position: relative;
                z-index: 1;
                padding: 10px;
                margin-top: 60px;
                font-family: $fonte-geral;
                color: $cor-texto-formulario;
                border-radius: 10px;
                background-color: $cor-rosa-escuro;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                h3{
                    font-size: 30px;
                }
    
                p{
                    font-size: 15px;
                    font-style: italic;
                }
                label{
                    font-size: 23px;
                }
                input, select{
                    border: none;
                    margin-bottom:15px;
                    font-size: 15px;
                }
                .inputInformacoes, select{
                    padding-left: 10px;
                    width: 280px;
                    height: 40px;
                }
                .inputMensagem{
                    padding-left: 10px;
                    width: 300px;
                    height: 200px;
                }
                .inputBotao{
                    font-size: 25px;
                    background-color: $cor-destaque-nav;
                    text-align: center;
                    border-radius: 10px;
                    color:$cor-texto-padrao;
                    height: 40px;
                    width: 150px;
                }
                .inputBotao:hover{
                    background-color: $cor-verde-claro;
                }
            }
        }
}

  