/* Desktop */
@media screen and (min-width:1024px){
    /* Carrossel de resenhas */
    .carousel-container {
        text-align: center;
        max-width: 80%;
        overflow: hidden;
    }

    .carousel-slide {
    padding: 10px; 
    }

    /* Mova os pontos indicadores para cima */
    .slick-dots {
    margin-bottom: 20px; 
    } 
}

/* Tablet */
@media screen and (min-width:900px) and (max-width:1023px){

}

/* Celular */
@media screen and (max-width:500px){

}